<div class="ui-logo">
  Opearte System
</div>
<div class="ui-menu">
  <ul nz-menu [nzMode]="'inline'" nzTheme='dark'>
    <li nz-menu-item>
      <span title>
        <i class="anticon anticon-mail"></i>
        <span>一级导航</span>
      </span>
    </li>
    <li nz-submenu>
      <span title>
        <i class="anticon anticon-appstore"></i>
        <span>一级导航</span>
      </span>
      <ul>
        <li nz-menu-item>二级导航</li>
        <li nz-menu-item>二级导航</li>
        <li nz-submenu>
          <span title>二级导航</span>
          <ul>
            <li nz-menu-item>三级导航</li>
            <li nz-menu-item>三级导航</li>
          </ul>
        </li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>
        <i class="anticon anticon-setting"></i>
        <span>一级导航</span>
      </span>
      <ul>
        <li nz-menu-item>二级导航</li>
        <li nz-menu-item>二级导航</li>
        <li nz-menu-item>二级导航</li>
      </ul>
    </li>
  </ul>
</div>