.ui-logo{
  height: 64px;
  background: #00284d;
  & > img{
    height: 36px;
    margin-top: 14px;
    margin-left: 26px;
  }
}

.ant-menu-submenu,
.ant-menu-item{
  background: #000f2d;
  &:hover{
    color: #fff !important;
    background: #000c18 !important;
  }
  .ant-menu-item-selected,
  &.ant-menu-item-selected,
  &.ant-menu-submenu-selected{
    color: #fff !important;
    background-color: #108ee9 !important;
    div{
      color: #fff !important;
    }
  }
}
.ant-menu-submenu.ant-menu-submenu-open{
  background: #000c18;
  .ant-menu-item,
  .ant-menu-submenu{
    background: #000c18;
  }
}
.ant-menu-submenu-inline,
.ant-menu-vertical .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title{
  color: #a5aab6;
  font-size: 14px !important;
  span{
    font-size: 14px !important;
  }
  i{
    font-size: 16px !important;
  }
  div::after{
    font-size: 18px !important;
  }
}