<div class="ui-logo">
  Opearte System
</div>
<div class="ui-menu">
  <ul nz-menu [nzMode]="'inline'" nzTheme='dark'>
    <li nz-menu-item [routerLink]="['/home/welcome']">
      <span title>
        <i class="anticon anticon-mail"></i>
        <span>Welcome</span>
      </span>
    </li>
    <li nz-submenu>
      <span title>
        <i class="anticon anticon-appstore"></i>
        <span>客户管理</span>
      </span>
      <ul>
        <li nz-menu-item [routerLink]="['/home/newcustomer']">新进客户</li>
        <li nz-menu-item [routerLink]="['/home/followupcustomer']">已更进客户</li>
      </ul>
    </li>
  </ul>
</div>