<div class="ui-header">

  <div class="ui-menu-collapsed" style="display: none;">
    <i class="anticon" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
  </div>

  <div class="ui-user-info">
    <div class="ui-user-cell">
      <i class="anticon anticon-message"></i>
    </div>

    <div class="ui-user-cell">
      <img src="./assets/images/default-boy.png" alt="">
      <span>管理员</span>
      <div class="ui-user-fixed">
        <ul>
          <li>退出</li>
        </ul>
      </div>
    </div>
  </div>

</div>