<form nz-form [formGroup]="queryForm" class="ant-advanced-search-form query-head">
  <div nz-row [nzGutter]="30">
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label [attr.for]="'parentPhone'">家长电话</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-input nzSize="large" nzPlaceHolder="请输入家长电话" formControlName="parentPhone" nzId="parentPhone"></nz-input>
        </div>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label [attr.for]="'secondName'">宝宝昵称</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-input [nzSize]="'large'" nzPlaceHolder="请输入宝宝昵称" formControlName="secondName" nzId="secondName"></nz-input>
        </div>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label>填写日期</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-datepicker 
            nz-col [nzSpan]="11"
            formControlName="filloutStartDate" 
            [nzSize]="'large'" 
            [nzPlaceHolder]="'开始日期'" 
            [nzFormat]="'YYYY-MM-DD'"
            [nzDisabledDate]="_disabledStartDate1"
          ></nz-datepicker>
          <div nz-col [nzSpan]="2" style="text-align: center">-</div>
          <nz-datepicker 
            nz-col [nzSpan]="11"
            formControlName="filloutEndDate" 
            [nzSize]="'large'" 
            [nzPlaceHolder]="'结束日期'" 
            [nzFormat]="'YYYY-MM-DD'" 
            [nzDisabledDate]="_disabledEndDate1"
          ></nz-datepicker>
        </div>
      </div>
    </div>
    <!-- <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label [attr.for]="'priceStart'">活动价格</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-input-number nzSize="large" formControlName="priceStart" nzPlaceHolder="最低价格"></nz-input-number>
          <div nz-col [nzSpan]="2" style="text-align: center">-</div>
          <nz-input-number nzSize="large" formControlName="priceEnd" nzPlaceHolder="最高价格" [nzMin]="queryForm.get('priceStart').value"></nz-input-number>
        </div>
      </div>
    </div> -->
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label [attr.for]="'activityPrice'">活动价格</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-input [nzSize]="'large'" nzPlaceHolder="请输入活动价格" formControlName="activityPrice" nzId="activityPrice"></nz-input>
        </div>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label>省市区</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-cascader 
            formControlName="address"
            nzSize="large"
            [nzOptions]="addressItems" 
            nzPlaceHolder="省市区" 
            [nzChangeOnSelect]="true"
            (nzChange)="_addressChange($event)">
          </nz-cascader>
        </div>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label>所属门店</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-select nzSize="large" formControlName="shopId" nzPlaceHolder="请选择所属门店" [nzShowSearch]="true" nzAllowClear>
            <nz-option
              *ngFor="let option of storeItems"
              [nzLabel]="option.shopName"
              [nzValue]="option.id"
              [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label>客户来源</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-select nzSize="large" formControlName="customerSpreadRelationId" nzPlaceHolder="请选择客户来源" [nzShowSearch]="true" nzAllowClear>
            <nz-option *ngFor="let option of customerSpreadItems" [nzLabel]="option.name" [nzValue]="option.id" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label>预约日期</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-datepicker 
            nz-col [nzSpan]="11"
            formControlName="preStartDate" 
            [nzSize]="'large'" 
            [nzPlaceHolder]="'开始日期'" 
            [nzFormat]="'YYYY-MM-DD'"
            [nzDisabledDate]="_disabledStartDate2"
          ></nz-datepicker>
          <div nz-col [nzSpan]="2" style="text-align: center">-</div>
          <nz-datepicker 
            nz-col [nzSpan]="11"
            formControlName="preEndDate" 
            [nzSize]="'large'" 
            [nzPlaceHolder]="'结束日期'" 
            [nzFormat]="'YYYY-MM-DD'" 
            [nzDisabledDate]="_disabledEndDate2"
          ></nz-datepicker>
        </div>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label>跟踪时间</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-datepicker 
            nz-col [nzSpan]="11"
            formControlName="visitStartDate" 
            [nzSize]="'large'" 
            [nzPlaceHolder]="'开始日期'" 
            [nzFormat]="'YYYY-MM-DD'"
            [nzDisabledDate]="_disabledStartDate3"
          ></nz-datepicker>
          <div nz-col [nzSpan]="2" style="text-align: center">-</div>
          <nz-datepicker 
            nz-col [nzSpan]="11"
            formControlName="visitEndDate" 
            [nzSize]="'large'" 
            [nzPlaceHolder]="'结束日期'" 
            [nzFormat]="'YYYY-MM-DD'" 
            [nzDisabledDate]="_disabledEndDate3"
          ></nz-datepicker>
        </div>
      </div>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label>状态</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-select nzSize="large" formControlName="stage" nzPlaceHolder="请选择状态" [nzShowSearch]="true" nzAllowClear>
            <nz-option
              *ngFor="let option of [
                  { value: 0, label: '新用户' },
                  { value: 1, label: '首次跟踪' },
                  { value: 2, label: '二次跟踪' },
                  { value: 3, label: '已预约' },
                  { value: 4, label: '已分配' },
                  { value: 5, label: '已体验' },
                  { value: 6, label: '已办卡' }
                ]"
              [nzLabel]="option.label"
              [nzValue]="option.value"
              [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="24" nz-form-item [style.text-align]="'center'">
      <button nz-button nzSize="large" [nzType]="'primary'" (click)="query()">搜索</button>
      <button nz-button nzSize="large" (click)="resetForm()">重置</button>
      <nz-button-group [style.float]="'right'">
        <button nz-button nzType="primary" (click)="addCustomerInfo()">新增客户信息</button>
        <!-- <nz-dropdown>
          <button nz-button nz-dropdown nzType="primary">
            <span>批量导入客户信息</span>
            <i class="anticon anticon-down"></i>
          </button>
          <ul nz-menu>
            <li nz-menu-item>
              <a href="javascript:;">下载批量EXCEL模版</a>
            </li>
            <li nz-menu-item>
              <input type="file" [style.display]="'none'" id="upExcel" #excelFile (change)="upExcel(excelFile)">
              <a href="javascript:;"><label for="upExcel" [style.cursor]="'pointer'">上传批量EXCEL模版</label></a>
            </li>
          </ul>
        </nz-dropdown>
        <button nz-button nzType="primary" (click)="addCustomerSource()">新增客户来源</button> -->
      </nz-button-group>
    </div>
  </div>
</form>


<nz-table #nzTable 
  [nzAjaxData]="tableItems"
  [nzShowSizeChanger]="true"
  [nzLoading]="tableInfo.loading"
  [nzTotal]="tableInfo.total"
  [(nzPageIndex)]="tableInfo.pageNum"
  (nzPageIndexChange)="query()"
  [(nzPageSize)]="tableInfo.pageSize"
  (nzPageSizeChange)="query(true)">
  <thead nz-thead>
    <tr>
      <th nz-th [nzExpand]="true" nzWidth="50px"></th>
      <th nz-th nzWidth="80px">
        <span>家长电话</span>
      </th>
      <th nz-th nzWidth="80px">
        <span>宝宝昵称</span>
      </th>
      <th nz-th nzWidth="100px">
        <span>客户来源</span>
      </th>
      <th nz-th nzWidth="160px">
        <span>省市区</span>
      </th>
      <th nz-th nzWidth="160px">
        <span>归属门店</span>
      </th>
      <th nz-th nzWidth="90px">
        <span>状态</span>
      </th>
      <th nz-th nzWidth="120px">
        <span>预约日期</span>
      </th>
      <th nz-th nzWidth="60px">
        <span>操作</span>
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
      <tr nz-tbody-tr>
        <td nz-td [nzExpand]="true">
          <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
        </td>
        <td nz-td>
          <a href="javascript: void(0);" (click)="getPhone(data)" [hidden]="data.checkPhone">查看电话</a>
          {{ data.checkPhone ? data.checkPhone : ''}}
        </td>
        <td nz-td>{{data.secondName}}</td>
        <td nz-td>{{data.customerSpreadRelationName}}</td>
        <td nz-td>{{data.province + data.city + data.area}}</td>
        <td nz-td>{{data.shopName ? data.shopName : '-'}}</td>
        <td nz-td>
          <nz-tag [nzColor]="
            data.stage == 0 ? 'pink' : 
            data.stage == 1 ? 'red' : 
            data.stage == 2 ? 'orange' : 
            data.stage == 3 ? 'green' : 
            data.stage == 4 ? 'cyan' : 
            data.stage == 5 ? 'blue' : 'purple'">{{data.stage == 0 ? '新用户' : data.stage == 1 ? '首次跟踪' : data.stage == 2 ? '二次跟踪' : data.stage == 3 ? '已预约' : data.stage
            == 4 ? '已分配' : data.stage == 5 ? '已体验' : '已办卡'}}</nz-tag>
        </td>
        <td nz-td>{{(data.precontractDate ? data.precontractDate : '-')  + ' ' + (data.precontractTime ? data.precontractTime : '-')}}</td>
        <td nz-td><a href="javascript: void(0);" (click)="updateCustomerInfo(data)">{{data.appointmentId ? '-' : '记录'}}</a></td>
      </tr>
      <tr nz-tbody-tr *ngIf="data.expand" class="ui-table-expand">
        <td nz-td></td>
        <td nz-td colspan="10">
          <div class="expand-box">
            <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
              <label nz-col [nzSpan]="8">填写时间</label>
              <div nz-col [nzSpan]="16">{{data.createTime}}</div>
            </div>
            <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
              <label nz-col [nzSpan]="8">活动价格</label>
              <div nz-col [nzSpan]="16">￥{{data.activityPrice}}</div>
            </div>
            <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
              <label nz-col [nzSpan]="8">跟踪时间</label>
              <div nz-col [nzSpan]="16">{{data.visitTime}}</div>
            </div>
            <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
              <label nz-col [nzSpan]="8">跟踪记录</label>
              <div nz-col [nzSpan]="16">
                <nz-tooltip [nzTitle]="data.visitInfo" [nzPlacement]="'top'">
                  <span nz-tooltip>{{data.visitInfo}}</span>
                </nz-tooltip>
              </div>
            </div>
            <div nz-col [nzXl]="6" [nzLg]="8" [nzSm]="12" [nzXs]="24">
              <label nz-col [nzSpan]="8">备注</label>
              <div nz-col [nzSpan]="16">
                <nz-tooltip [nzTitle]="data.remark" [nzPlacement]="'top'">
                  <span nz-tooltip>{{data.remark}}</span>
                </nz-tooltip>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>